<% content_for :title, "Editing project" %>

<h1 class="text-lg font-semibold text-gray-900">Editing project</h1>

<%= render "form", project: @project %>

<br>

<div>
  <%= link_to "一つ前に戻る", @project, class: "btn btn-secondary" %> |
  <%= link_to "プロジェクト一覧に戻る", projects_path, class: "btn btn-secondary" %>
</div>
